<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    table, tr, td{
        border : #000 solid 1px;
    }
    .container {
        padding-left : 45%;
        padding-top : 20%;
    }
</style>
<body>
<div class="container">
    <table>
        <tr>
            <td colspan="3"><input type="text"></td>
        </tr>
        <tr>
            <td id="num1">1</td>
            <td id="num2">2</td>
            <td id="num3">3</td>
        </tr>
        <tr>
            <td id="num4">4</td>
            <td id="num5">5</td>
            <td id="num6">6</td>
        </tr>
        <tr>
            <td id="num7">7</td>
            <td id="num8">8</td>
            <td id="num9">9</td>
        </tr>
    </table>
</div>
</body>
<script>

</script>
</html>